body {
  margin: 0;
  user-select: none;
}

.iconfont{
  font-size: inherit;
}

.color-black {
  color: black
}

button {
  cursor: pointer;
}

button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
