body {
  margin: 0;
  user-select: none;
}

.iconfont{
  font-size: inherit;
}

.color-black {
  color: black
}

button {
  cursor: pointer;
}

button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.icon-spinner {
  animation: spin 1s linear infinite;
  display: inline-block;
}
